#user-header {
  margin: 120px 0 2.2rem;
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/asfalt-light.png");
  background-color: orange;
  padding-top: 0.5em;
}

#user-header > div > h2 {
  font-size: 46px;
  margin-block-start: 0.1em;
  color: white;
}

#user-header > div > h2 > span {
  font-weight:500;
}