nav {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
}

#title {
  display: flex;
  align-items: flex-end;
  flex-basis: 50%;
  padding-left: 1.5em;
  padding-bottom: 0.4em;
  font-family: 'Bungee', sans-serif;
  font-size: 50px;
}

#sub-title {
  display: flex;
  flex-direction: column;;
  justify-content: center;
  align-items: flex-end;
  flex-basis: 50%;
  padding-right: 2em;
  font-size: 30px;
}

#arrow-frame {
  padding-right: 3.5em;
}

#arrow {
  width: 12px;
  height: 12px;
  border: solid red;
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(45deg);
}

#arrow::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border: solid red;
  border-width: 0 3px 3px 0;
  transform: translateY(3px) translateX(3px);
}