.header-main-container {
  display: flex;
  flex-direction: column;
}

.container{
  align-self: center;
}

.error-message {
  text-align: center;
  border-style: solid;
  border-color: red;
  border-width: 4px;
  margin-bottom: 1.5rem;
  padding: 0.5em 0;
  color: red;
  font-weight: bold;
  display: none;
}

.new-tweet {
  margin-bottom: 2em;
}

form {
  display: flex;
  flex-direction: column;
}

#tweet-form > label {
  font-size: 28px;
  font-weight: bold;
}

#tweet-text {
  background-color: #f4f1ec;
  border-width: 0 0 4px 0;
  margin: 0.5em 0 0.7em;
  height: auto;
  resize: none;
  outline: none;
  font-size: 24px;
  font-weight: bold;
}

#button-count {
  display:flex;
  justify-content: space-between;
}

button {
  font-family: 'bungee', sans-serif;
  font-size: 26px;
  background-color: rgb(45, 45, 255);
  color: white;
  text-shadow: 3px 4px 5px black;
  padding: 0.2em 0.5em;
}

output {
  font-family: 'Bungee', sans-serif;
  font-size: 30px;
}

.red {
  color: red;
}

article {
  display: flex;
  flex-direction: column;
  align-items: streth;
  border-style: solid;
  border-width: 4px;
  margin: 0 0 2em;
}

article > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 1em 0.5em 0.5em;
}

article > header > div {
  display: flex;
  align-items: center;
}

.handle {
  color: #a5a5a5;
  visibility: hidden;
}

article > p {
  overflow-wrap: break-word;
  align-self: center;
  width: 97%;
  height: auto;
  font-weight: bold;
  padding: 0 1em 1.2em;
  border-style: solid;
  border-width: 0 0 4px 0;
  margin-bottom: 0;
}

article img {
  margin-right: 0.5em;
}

article > footer {
  align-self: center;
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0.4em 0 1em;
}

.tweet-age {
  font-size: smaller;
  font-weight: bold;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 75px;
  visibility: hidden;
}

.flag {
  background-image: url("../images/flag.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 0.7em;
  height: 0.7em;
}

.share {
  background-image: url("../images/share.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 0.7em;
  height: 0.7em;
}

.like {
  background-image: url("../images/like.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 0.7em;
  height: 0.7em;
}

.hvr-box-shadow-outset:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}

.hvr-box-shadow-outset:hover .handle {
  visibility: visible;
}

.hvr-box-shadow-outset:hover .icons {
  visibility: visible;
}
